* {
  margin: 0;
  padding: 0; }

ul, ol, dl {
  list-style: none; }

header {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid #666;
  font-size: 10px;
  color: #666;
  background: url(../images/homeImg/bg.png) repeat-x; }
  header span {
    font-size: 18px;
    color: green; }
  header ul {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around; }
    header ul li:nth-child(7) a {
      font-size: 14px;
      color: red; }

a {
  text-decoration: none;
  font-size: 14px;
  color: #666; }

.head {
  text-align: center;
  line-height: 33px;
  width: 90%;
  height: auto;
  margin: 0 auto; }

.l {
  float: left; }

.r {
  float: right; }

img {
  width: 100%;
  display: block; }

footer {
  width: 100%;
  height: 290px;
  border-top: 1px solid lightgray; }
  footer #heads {
    position: relative;
    left: 490px;
    margin-left: -320px;
    width: 980px;
    height: 114px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; }
    footer #heads div {
      width: 196px;
      height: 114px; }
      footer #heads div span {
        width: 43px;
        height: 43px;
        display: inline-block;
        margin-left: 28px;
        margin-right: 6px;
        background-image: url(../images/1.gif);
        background-repeat: no-repeat;
        background-position: 0 0; }
      footer #heads div .conT {
        float: right;
        width: 112px;
        height: 114px; }
        footer #heads div .conT h3 {
          line-height: 36px;
          color: gray; }
        footer #heads div .conT a {
          color: grey;
          display: block;
          text-decoration: none;
          line-height: 26px; }
  footer #foot {
    width: 100%;
    height: 94px; }
    footer #foot h5 {
      width: 100%;
      height: 24px;
      text-align: center;
      line-height: 24px;
      font: 12px/1.5em "Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;
      color: #5A5A5A; }
