@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑"; }

body, html {
  width: 100%; }

header .head {
  width: 100%;
  height: 30px;
  background-color: #ccc; }
  header .head nav {
    width: 80%;
    margin: 0 auto; }
    header .head nav a {
      color: gray;
      line-height: 30px;
      font-size: 12px;
      padding: 0 15px;
      border-right: 1px solid gray; }
    header .head nav a:nth-child(4) {
      border-right: none; }
    header .head nav a:nth-child(9) {
      border-right: none; }
    header .head nav a:nth-child(5) {
      border-right: none;
      padding-right: 30%; }

.swiper-container {
  width: 100%; }
  .swiper-container .swiper-slide img {
    width: 100%; }
  .swiper-container .swiper-pagination span {
    width: 20px;
    height: 20px; }

article .elect {
  width: 80%;
  margin: 0 auto;
  height: 80px; }
  article .elect h2 {
    float: left;
    border-left: 5px solid green;
    margin-bottom: 20px; }
  article .elect p {
    padding-top: 25px;
    float: right; }
    article .elect p input:nth-child(1) {
      width: 300px;
      line-height: 34px;
      border: 2px solid green;
      text-indent: 2em;
      font-size: 14px;
      position: relative;
      top: -2px; }
    article .elect p input:nth-child(2) {
      width: 80px;
      line-height: 38px;
      font-size: 18px;
      text-align: center;
      color: #fff;
      background: green;
      border: none;
      margin-right: 100px; }

article .typ {
  width: 80%;
  margin: 0 auto; }
  article .typ input {
    width: 49%;
    background-color: #fff;
    line-height: 35px;
    text-align: center;
    border: 2px solid #ccc;
    float: left; }
  article .typ input:hover {
    background-color: green;
    color: #fff; }
  article .typ ul {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    article .typ ul li {
      width: 12%;
      height: 50px; }
      article .typ ul li input {
        width: 100%;
        height: 100%;
        border: none; }

article .big-price {
  width: 80%;
  margin: 0 auto; }
  article .big-price h2 {
    float: left;
    width: 100%;
    border-left: 5px solid green;
    margin-bottom: 20px; }
  article .big-price .list1 {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    article .big-price .list1 li {
      width: 22%;
      height: 120px;
      border: 1px solid #ccc; }
      article .big-price .list1 li img {
        width: 100px;
        float: left;
        margin-top: 10px; }
      article .big-price .list1 li span {
        float: left;
        line-height: 30px; }
      article .big-price .list1 li .phone {
        margin-top: 30px;
        margin-right: 50px; }
  article .big-price .list2 {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    article .big-price .list2 li {
      width: 12%;
      height: 150px;
      text-align: center; }
      article .big-price .list2 li .imgg {
        width: 80%;
        margin: 0 10px; }
      article .big-price .list2 li span {
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #54BF8D; }
      article .big-price .list2 li .photo {
        padding-top: 30px; }
  article .big-price .list3 {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    article .big-price .list3 li {
      width: 31%;
      height: 100px;
      border: 2px solid #ccc; }
      article .big-price .list3 li img {
        width: 100%; }

article .city {
  width: 100%; }
  article .city p {
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 20px; }

article .eval {
  width: 80%;
  margin: 0 auto; }
  article .eval h2 {
    float: left;
    width: 100%;
    border-left: 5px solid green;
    margin-bottom: 20px; }
  article .eval img {
    width: 100%; }
  article .eval ul {
    width: 100%;
    list-style: none;
    margin-bottom: 30px; }
    article .eval ul li {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid  #ccc; }
      article .eval ul li .panner {
        width: 60px;
        height: 60px;
        margin-left: 40px; }
      article .eval ul li .xiao {
        position: relative;
        left: -80px;
        top: 45px; }
      article .eval ul li .mi {
        padding-left: 10px;
        line-height: 90px;
        display: inline-block; }
      article .eval ul li .pan {
        width: 100px;
        margin-left: 80px;
        margin-right: 200px; }
  article .eval .gdpj {
    width: 60%;
    line-height: 50px;
    border: 2px solid #59BCFF;
    color: #59BCFF;
    text-align: center;
    background-color: #fff;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bolder; }

footer {
  width: 80%;
  margin: 0 auto; }
  footer .bottom {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 200px;
    background-color: #f7f7f7;
    margin-top: 30px; }
    footer .bottom ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      list-style: none; }
      footer .bottom ul li a {
        display: block;
        color: gray;
        text-align: center; }
      footer .bottom ul li a:hover {
        color: blue; }
  footer .bottom-down {
    width: 100%;
    height: 100px;
    padding-top: 20px; }
    footer .bottom-down p {
      text-align: center; }
